@page "/forgotPassword"
@inject IJSRuntime JSRuntime

<div class="register-page">
    <div class="register-container">
        <h1>Register</h1>
        <p>Iltimos Telefon raqamingiz va Parolingizni kiriting</p>
        <EditForm Model="this" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <InputText id="phone" class="form-control" @bind-Value="PhoneNumber" placeholder="Telefon raqami" />
            </div>
            <div class="form-group">
                <InputText id="password" placeholder="Yangi Parol" type="password" class="form-control" @bind-Value="Password" />
            </div>
            <div class="form-group">
                <InputText id="confirmPassword" placeholder="Parolni qayta kiriting" type="password" class="form-control" @bind-Value="ConfirmPassword" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Tasdiqlash</button>
        </EditForm>

        <div class="login-link">
            <p>Parolni esladim! <a href="/login">Login</a></p>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public string PhoneNumber { get; set; } = string.Empty;

    [SupplyParameterFromForm]
    public string Password { get; set; } = string.Empty;

    [SupplyParameterFromForm]
    public string ConfirmPassword { get; set; } = string.Empty;

    private void Submit()
    {
        
    }

 
}
