@page "/register"

<div class="register-page">
    <div class="register-container">
        <h1>Register</h1>
        <p>Iltimos Telefon raqamingiz va Parolingizni kiriting</p>
        <form>
            <div class="form-group">
                <label for="phone">
                    <i class="fas fa-phone"></i>
                </label>
                <input type="text" id="phone" placeholder="Telefon raqami" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" id="password" placeholder="Parol" class="form-control" />
            </div>
            <div class="form-group">
                <label for="confirmPassword">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" id="confirmPassword" placeholder="Parolni qayta kiriting" class="form-control" />
            </div>
            <div class="form-group text-right">
                <a href="#">Parolni unutdingizmi?</a>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>

        <div class="login-link">
            <p>Hali a'zo emasmisiz? <a href="/login">Login</a></p>
        </div>
    </div>
</div>


