@page "/news"

<div class="yangiliklar-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">Bizning yangi maxsulotlarimiz</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="featured-product">
                    <img src="images/featured-product.jpg" alt="Featured Product" class="img-fluid">
                    <div class="featured-product-text">
                        <h2>Hozirda bizda mavjud bo'lgan yangi maxsulotlar va detallar bilan tanishib chiqishingiz mumkin</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row product-list">
            <!-- Repeat this block for each product -->
            <div class="col-md-4 col-sm-6 product-item">
                <div class="product-card">
                    <img src="images/product1.jpg" alt="Product 1" class="img-fluid">
                    <div class="product-info">
                        <h3>Product 1</h3>
                        <p>Product description goes here</p>
                    </div>
                </div>
            </div>
            <!-- End repeat -->
        </div>
    </div>
</div>

